<%- include ('../partials/header') %>
<body class="bg-dark text-white">
    <div class="side-bar">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/admin/dashboard" class="nav-link">Home</a>
            </li>
            <li class="list-group-item">
                <a href="/admin/all_member" class="nav-link">View Members</a>
            </li>
            <li class="list-group-item">
                <a href="/admin/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
    <div class="edit_member ">
        <h1 class="heading font-weight-bolder text-uppercase text-primary">admin dashboard</h1>
        <h2 class="heading text-uppercase text-center">Add New Member</h2><br/>
        <%- include ('../partials/error_msg') %>
        <form action="/admin/add" method="POST" class="">
            <div class="form-row">
                <div class="col-4">
                    <label for="username">Username:</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="text" class="form-control" id="username" name="username" value="<%= typeof username != 'undefined' ? username: ''%>" required>
                    </div>
                </div>
                <div class="col-4">
                    <label for="email" class="">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= typeof email != 'undefined' ? email: ''%>" required>
                </div>
                <div class="col-4">
                    <label for="password" class="">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="col-6">
                    <label for="firstname" class="">First Name:</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="<%= typeof firstname != 'undefined' ? firstname: ''%>" required>
                </div>
                <div class="col-6">
                    <label for="lastname" class="">Last Name:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="<%= typeof lastname != 'undefined' ? lastname: ''%>"  required>
                </div>
                <div class="col-6">
                    <label for="occupation" class="">Occupation:</label>
                    <input type="text" class="form-control" id="occupation" name="occupation" value="<%= typeof occupation != 'undefined' ? occupation: ''%>" required>
                </div>
                <div class="col-6">
                    <label for="date" class="">Date of Birth:</label>
                    <input type="date" class="form-control" id="date" name="date" value="<%= typeof date != 'undefined' ? date: ''%>" required>
                </div>
                <div class="col-6">
                    <label for="bio" class="">Bio:</label>
                    <textarea name="bio" id="bio" cols="10" rows="10" class="form-control" required><%= typeof bio != 'undefined' ? bio: ''%></textarea>
                </div>
                <div class="col-6">
                    <label for="gender" class="">Gender:</label>
                    <select name="gender" id="gender" class="form-control" required>
                        <option value="Male" class="form-control">Male</option>
                        <option value="Female" class="form-control">Female</option>
                    </select>
                </div>
            </div>
            <br>
            <button class="btn btn-primary text-uppercase" type="submit">Create Member</button>
        </form>
        <br>
    </div>
<%- include ('../partials/footer') %>